.card{
    max-width: 500px;
    width: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #0000009f ;
    --price-padding: 40px;
}
.card--startup{
    --price-theme: #505050;
    --price-theme-darker: #302f2f;
}
.card--pro{
    --price-theme: #D62D2C;
    --price-theme-darker: #8f0b0b;
    --price-padding: 70px;
}
.card--enterprise{
    --price-theme: #2c579c;
    --price-theme-darker: #053788;
}
.card_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: var(--price-padding) 10px;
}
.card_label{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.card_image{
    max-width: 70px;
    width: 100%;
    margin-top: 40px;
}
.card_price_container{
    margin-top: 30px;
    text-align: center;
    color: var(--price-theme);
    font-size: 1.3rem;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #e6e5e5;
}
.card_price{
    font-size: 1.5rem;
}
.card_duration{
    font-size: .7rem;
}
.card_benefit-label{
    color: var(--price-theme);
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.5px;
}
.card_benefits{
    color: black;
    padding-left: 10px;
    list-style: none;
    font-size: 0.8rem;
    margin-bottom: 25px;
}
.card_benefit{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card_benefit-icon{
    width: 12px;
    height: 12px;
    background-color: color-mix(in srgb, var(--price-theme), white 20%);
    border-radius: 50%;
    margin: 0 6px;
}
.card .card_button{
    text-transform: uppercase;
    background-color: var(--price-theme);
    padding: 12px;
    width: 100%;
    border: 2px solid var(--price-theme-darker);
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;
}